* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #242424;
}
p {
  color: white;
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 12px;
}
.con {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}
.submit {
  font-size: 18px;
  font-weight: 500px;
  border: 1px solid wheat;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #c85f45;
  color: white;
  cursor: pointer;
}
.btn {
  display: flex;
  gap: 30px;
}
.hide {
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #c85f45;
  border: 1px solid wheat;
  cursor: not-allowed;
}
input {
  padding: 9px;
  font-weight: 500px;
  border-radius: 5px;
  outline: none;
}
span {
  color: white;
}
